# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.depend
*.cbp
*.layout


/lua*

	 
	 

/test/*


gen_cfg/9.char2vkKey.lua
gen_cfg/6.1.view_translation_config.txt
gen_cfg/5.translation_config.lua
app/keymap.lua

app/bin/Debug/*
